@model TeamFyraSidor.Data.Article

@{
    ViewData["Title"] = "Details";
}

<h4 class="text-center mt-4">Details</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Headline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Headline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentSummary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentSummary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <div id="Content" class = "col-sm-10">
            @Html.Raw(Model.Content)
        </div>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Views)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Views)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Likes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Likes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category!.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsArchived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsArchived)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        @if (Model.UpdateStamp > Model.DateStamp)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UpdateStamp)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UpdateStamp)
            </dd>
        }
    </dl>
</div>
<div class="mt-2">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>


